In [2]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
for num in range(10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [4]:
list=[10, 20, 14, 55, 43, 87, 76]
print("number of item in list 2 is :",len(list))

number of item in list 2 is : 7

In [5]:
str = "Artificial Intelligence"
print(str)
for temp in range(0,len(str)):
    print(str[temp])

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [6]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [7]:
tuple =('1, Welcome','2, Hope')
print(tuple)

('1, Welcome', '2, Hope')

In [8]:
list=[0,1,2,3]

print(tuple(list))

TypeError: 'tuple' object is not callable

In [9]:
tupil0=(0,1,2,3)
tupil1 =('python', 'HOPE')
tupil2 = (tupil0)+(tupil1)
print(tupil2)

(0, 1, 2, 3, 'python', 'HOPE')

In [10]:
tupil1=((0,1,2,3),('Python','hope'))
print(tupil1)

((0, 1, 2, 3), ('Python', 'hope'))

In [13]:
tupil=(20,10,16,19,25,1,276,188)

for b in tupil:
    if(b%2==1):
        print(b,'is a odd number')

19 is a odd number
25 is a odd number
1 is a odd number

In [14]:
tupil=(20,10,16,19,25,1,276,188)

for b in tupil:
    if(b%2==0):
        print(b,'is a even number')

20 is a even number
10 is a even number
16 is a even number
276 is a even number
188 is a even number